/*****************************
    GENERAL
*****************************/

:root {
    --grey: #c2c2c2;
    --light-grey: #f1f1f1;
    --green: #009688;
    --light-blue: #8edafc;
    --light-dark: #202c33;
    --dark: #111b21;
    --mid-dark: #18252d;
    --dark-color: #8696a0;
}

.light {
    background: linear-gradient(#009688 10%, #d3dbda 0%);
}

.dark {
    background: linear-gradient(#111b21 0, #111b21 100%);
}

.light,
.dark {
    background-repeat: no-repeat;
    height: 100vh;
    padding: 20px;
}

@media (min-width: 992px) {

    .light,
    .dark {
        padding: 2.5vh 5vh;
    }
}

.main-container {
    height: 95vh;
    background: #FFF;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.745);
}

.profile,
.default-avatar {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 100%;
}

.default-avatar {
    color: var(--green);
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.font_small {
    font-size: 0.75rem;
}

.pointer {
    cursor: pointer;
}

.c_grey {
    color: #b1b1b1;
}

.c_dark-grey {
    color: #6b7376;
}

.bg_grey {
    background-color: var(--grey);
}

.bg_light-grey {
    background-color: var(--light-grey);
}

.btn {
    border-radius: 0.5rem;
    background-color: rgb(54, 54, 54);
    color: #FFF;
}

.my__btn {
    background-color: var(--light-blue);
    padding: 0.25rem 0.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 2px #003853;
    cursor: pointer;
    font-size: 0.75rem;
}

.main-popup .my__btn {
    color: white;
    background-color: #000;
    padding: 1px 2px;
    font-size: 0.5rem;
}

.my__btn:hover {
    box-shadow: 0 0 5px #003853;
}

.main-popup .my__btn:hover {
    box-shadow: 0 0 5px #000;
}

.popup__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    /* background-color: #000; */
}

audio {
    max-width: 100%;
    height: 40px;
}

/*****************************
    ASIDE
*****************************/

aside {
    border-right: 1px solid rgb(219, 216, 216);
    display: flex;
    flex-direction: column;
}

nav {
    height: 100%;
}

nav header i {
    width: 30px;
    text-align: center;
}

header .me__buttons {
    display: none;
}

@media (min-width: 768px) {
    header .me__buttons {
        display: block;
    }
}

.main-container header,
.search-chat,
.notifications {
    flex-basis: 0;
}

.main-popup {
    background-color: var(--grey);
    line-height: 1rem;
    z-index: 99;
    border-radius: 1rem;
    font-size: 0.5rem;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 1px black;
    cursor: auto;
    font-weight: normal;
    padding: 0.25rem;
}

.main-popup.popup__left {
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
}

.main-popup.popup__middle {
    top: 120%;
    left: -100px;
}

.main-popup.popup__right {
    top: 100%;
    right: 0;
    margin-top: 0.5rem;
}

.notifications {
    background-color: var(--light-blue);
}

.contacts-container-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    max-height: 100%;
    overflow: auto;
}

.contacts-card:not(.bg_grey):hover {
    background-color: #eaeaea;
}

.contacts-card .layover {
    display: none;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.delete-popup {
    z-index: 99;
    background-color: #FFF;
    border: 1px solid black;
    top: 100%;
    right: 0;
    font-size: 0.75rem;
    width: max-content;
    padding: 1rem 0.5rem;
}

.contacts-card:hover .layover {
    display: block;
}

.delete-btn {
    font-weight: bold;
    color: #505050;
}

.not__bell {
    color: var(--light-blue);
}

.notifications .font_small {
    color: #38768e;
}

.search_btn,
.search-chat input {
    border: none
}

.search_btn {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.search-chat input {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

:focus-visible {
    outline: none;
}

.msg_wrapper {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last_msg {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*****************************
    MAIN
*****************************/
main {
    background-image: url('../img/mine.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-color: transparent;
    height: 100%;
}

.chat-container {
    overflow: auto;
    /* height: calc(100% - 200px); */
    flex-basis: 0;
    flex-grow: 1;
}

.chat-container.my_p {
    padding: 2rem 3rem;
}

.chat-container #main-title {
    font-size: 2rem;
}

.chat-container #beta {
    font-size: 0.75rem;
    background-color: #b1b1b1;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    vertical-align: middle;
}

.def-img {
    background-color: #f8f9fb;
    height: 100%;
}

.def-img img {
    width: 50%;
}

.chat-card {
    max-width: 100%;
    background-color: #FFF;
    border-radius: 0.5rem;
    padding: 1rem 1rem 2rem 1rem;
    overflow-wrap: break-word;
    position: relative;
    margin-top: 0.25rem;
}

.chat-card:first-of-type .bubble {
    display: block;
}

.sent+.received .bubble,
.received+.sent .bubble {
    display: block;
}

.sent+.received,
.received+.sent {
    margin-top: 1rem;
}

.bubble {
    width: 0;
    height: 0;
    position: absolute;
    display: none;
}

.sent .bubble {
    border-left: 1.5rem solid #d5f9ba;
    border-bottom: 1rem solid transparent;
    right: -1rem;
    top: 0;
}

.received .bubble {
    border-right: 1.5rem solid #FFF;
    border-bottom: 1rem solid transparent;
    left: -1rem;
    top: 0;
}

.chat-card .msg {
    margin-right: 1rem;
}

.chat-card .layover {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.chat-card.sent .layover {
    background-color: #d5f9ba;
}

.chat-card.received .layover {
    background-color: #FFF;
}

.chat-card:hover .layover {
    display: block;
}

.chat-card.received {
    align-self: flex-start;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.chat-card.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.chat-card .quote {
    padding: 0.5rem;
    border-left: 5px solid blueviolet;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.hour {
    position: absolute;
    right: 10%;
    bottom: 5%;
    z-index: 1;
}

.deleteOpt {
    position: absolute;
    top: 75%;
    right: 5%;
    background-color: #FFF;
    z-index: 99;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    font-size: 0.75rem;
    width: 100px;
}

.deleteOpt .info,
.deleteOpt .delete,
.deleteOpt .answer {
    padding: 0.25rem 0.5rem;
}

.deleteOpt .info:hover,
.deleteOpt .delete:hover,
.deleteOpt .answer:hover {
    background-color: var(--grey);
}

.quote {
    padding: 1rem;
    background-color: rgb(234, 234, 234);
    border-left: 5px solid blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote .quote-title {
    display: block;
    color: blueviolet;
}

.quote .quote-cancel {
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 100%;
    aspect-ratio: 1;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.chat-input {
    /* flex-basis: 0; */
    padding: 0.5rem 1.5rem;
    background-color: rgba(234, 234, 234, 0.9)
}

.chat-input input {
    flex-grow: 1;
    margin: 0 1.5rem;
    border-radius: 0.5rem;
}

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px black;
    z-index: 99;
    padding: 3rem;
    border-radius: 1rem;
}

.input-container {
    display: contents;
}

@media (min-width: 1400px) {
    .input-container {
        display: block;
    }

    .pop-up {
        width: 50vw;
        height: 50vh;
    }
}

/*****************************
    DARK MODE
*****************************/

.dark header {
    background: var(--light-dark) !important;
    color: var(--dark-color);
}

.dark .notifications {
    color: var(--dark-color);
    background-color: #003853;
}

.dark .not__bell {
    background-color: var(--dark) !important;
}

.dark .main-container {
    background: var(--dark);
    color: #FFF;
}

.dark .main-popup {
    background-color: var(--dark);
    color: var(--dark-color);
}

.dark .my__btn {
    background-color: var(--light-grey);
    color: #000;
}

.dark .my__btn:hover {
    box-shadow: 0 0 5px #FFF;
}

.dark .search-chat {
    background: var(--dark) !important;
}

.dark input {
    color: #FFF;
}

.dark .search_btn,
.dark .search-chat input {
    background: var(--light-dark) !important;
}

.dark nav .contacts-card:hover {
    background-color: var(--mid-dark) !important;
}

.dark .contacts-card.bg_grey {
    background-color: var(--light-dark);
}

.dark main {
    background-image: url('../img/wall.jpg');
    background-size: cover;
}

.dark .def-img {
    background-color: #222e35;
    color: var(--dark-color);
}

.dark .chat-container #beta {
    background-color: #364147;
}

.dark .chat-card.received,
.dark .chat-card.received .layover {
    background-color: var(--light-dark);
}

.dark .received .bubble {
    border-right-color: var(--light-dark);
}

.dark .chat-card.sent,
.dark .chat-card.sent .layover {
    background-color: #005c4b;
}

.dark .sent .bubble {
    border-left-color: #005c4b;
}

.dark .chat-card .layover {
    color: var(--dark-color);
}

.dark .quote {
    background-color: var(--light-dark);
}

.dark .deleteOpt {
    background-color: var(--light-dark);
}

.dark .deleteOpt>*:hover {
    background-color: var(--dark-color);
}

.dark .chat-input {
    background-color: var(--light-dark);
    color: var(--dark-color);
}

.dark .chat-input input {
    background-color: #2a3942;
}

/*****************************
    DEBUG
*****************************/
.debug .main-container {
    border: 1px solid black;
}

.debug .col-4 {
    background-color: yellow;
}

.debug .col-8 {
    background-color: blue;
}