<!doctype html>
<html lang='it'>

    <head>

        <!-- Required meta tags -->
        <meta charset='utf-8'>
        <!-- <meta name='viewport' content='width=device-width, initial-scale=1'> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Bootstrap CSS -->
        <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'
            integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'>

        <!-- Style -->
        <link rel='stylesheet' href='css/app.css'>

        <!-- VUE -->
        <script src='https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js'></script>

        <!-- DAYJS -->
        <script src="https://unpkg.com/dayjs@1.8.20/dayjs.min.js"></script>
        <script src="https://unpkg.com/dayjs@1.8.20/plugin/customParseFormat.js"></script>

        <!-- ICON -->
        <link rel="icon" href="img/logo.png">

        <!-- MANIFEST -->
        <link rel="manifest" href="./site.webmanifest">


        <title>Boolzapp</title>

    </head>

    <body class="">

        <div id="app">
            <!--
            ---------------------------------------------------------------------------
                DIV CONTENENTE TUTTA L'APPLICAZIONE
            ---------------------------------------------------------------------------
            -->
            <div class="container-fluid main-container row">
                <!--
                ---------------------------------------------------------------------------
                    SIDEBAR START
                ---------------------------------------------------------------------------
                -->
                <aside class="d-md-block col-md-4 p-0" :class="smartphoneChat ? 'd-none' : 'd-block'">
                    <nav class="d-flex flex-column">

                        <!--
                        ------------------------------------------------------------------------
                            SIDEBAR - HEADER: profilo utente
                        -----------------------------------------------------------------------
                        -->
                        <header class="me bg_grey">
                            <div class="d-flex justify-content-between align-items-center p-3">
                                <div class="me__profile d-flex align-items-center">
                                    <img src="img/IMG_9783.JPEG" alt="My profile pic" class="me-1 profile">
                                    <span class="me__name">Francesco</span>
                                </div>

                                <div class="me__buttons">
                                    <i class="fa-solid fa-circle-notch pointer position-relative"
                                        @click="statusPopup = true">

                                        <template v-if="statusPopup">
                                            <div
                                                class="main-popup d-flex p-3 align-items-center justify-content-center flex-column position-absolute popup__left">
                                                <span>Sei online</span>
                                            </div>
                                            <div class="popup__bg" @click.stop="statusPopup = false"></div>
                                        </template>

                                    </i>

                                    <i class="fa-solid fa-plus px-2 pointer position-relative"
                                        @click="addContactPopup = true">

                                        <template v-if="addContactPopup">
                                            <div
                                                class="main-popup d-flex p-3 align-items-center justify-content-center flex-column position-absolute popup__middle">
                                                <span class=" mb-3">Vuoi aggiungere un nuovo contatto?</span>
                                                <div class="my__btn" @click.stop="addContactHandler">
                                                    Crea Nuovo</div>
                                            </div>
                                            <div class="popup__bg" @click.stop="addContactPopup = false"></div>
                                        </template>

                                    </i>

                                    <i class="fa-solid fa-ellipsis-vertical pointer c_grey"></i>
                                </div>
                            </div>
                        </header>
                        <!-- HEADER END -->

                        <!--
                        ------------------------------------------------------------------------
                            SIDEBAR - NOTIFICHE: gestione notifiche
                        -----------------------------------------------------------------------
                        -->
                        <div class="notifications d-md-flex p-3 align-items-center d-none" v-if="notificationsAlert">

                            <div
                                class="not__bell profile bg-white d-flex align-items-center justify-content-center me-2 pointer">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>

                            <div class="not__desc">
                                <span class="d-block">Ricevi notifiche di nuovi messaggi</span>
                                <span class="font_small text-decoration-underline pointer"
                                    @click="notificationsAlert = false">
                                    Attiva notifiche desktop
                                </span>
                            </div>
                        </div>

                        <!--
                        ------------------------------------------------------------------------
                            SIDEBAR - SEARCH: input di ricerca contatto
                        -----------------------------------------------------------------------
                        -->
                        <div class="search-chat bg_light-grey p-1 d-flex">
                            <div v-if="!search && !text" class="search_btn bg-white px-4 py-1 pointer"
                                @click="controlSearch">
                                <i class="fa-solid fa-magnifying-glass c_grey"></i>
                            </div>

                            <div v-else class="search_btn bg-white px-4 py-1 pointer" @click="clickHandler">
                                <i class="fa-solid fa-arrow-left c_grey"></i>
                            </div>

                            <input type="text" class="w-100 font_small" placeholder="Cerca o inizia una nuova chat"
                                ref="typeBox" v-model="text" @focus="search = true" @blur="blurHandler">

                        </div>
                        <!-- SEARCH END -->

                        <!--
                        ------------------------------------------------------------------------
                            SIDEBAR - CONTACTS: contenitore dei contatti
                        -----------------------------------------------------------------------
                        -->
                        <div class="contacts-container-wrapper">
                            <div class="d-flex flex-column">

                                <!-- PER OGNI contact in contacts -->
                                <template v-for="(contact, index) in contacts">

                                    <!-- SE contact è nell'array dei contatti filtrati -->
                                    <div v-if="getContactsFiltered.includes(contact)"
                                        class="contacts-card d-flex p-3 align-items-center pointer position-relative"
                                        :class="index===active ? 'bg_grey' : ''"
                                        @click="moveActive(index); scrollHandler();">

                                        <img class="profile bg-white me-2" :src=`img/${contact.avatar}`>

                                        <div class="msg_wrapper">
                                            <span class="d-block">
                                                {{ contact.name}}
                                            </span>
                                            <span class="last_msg font_small" :class="index===active ? '' : 'c_grey'">
                                                {{ getLastMsg(index) }}
                                            </span>
                                        </div>

                                        <span class="font_small c_grey align-self-start ms-auto">
                                            {{ getHour(contact.messages) }}
                                        </span>

                                        <div class="layover">
                                            <div @click.stop="deleteHandler(index)" class="delete-btn">X</div>
                                            <template v-if="deletePopup && deleteIndex === index">
                                                <div class="delete-popup position-absolute">
                                                    <span class=" mb-1">Vuoi eliminare il contatto?</span>
                                                    <div class="my__btn d-inline-block"
                                                        @click.stop="deleteContact(index)">
                                                        Elimina</div>
                                                </div>
                                                <div class="popup__bg" @click="deletePopup = false"></div>
                                            </template>
                                        </div>

                                    </div>
                                </template>
                            </div>

                            <!-- SE l'array dei contatti filtrati è vuoto => contatto cercato NON presente -->
                            <div v-if="getContactsFiltered.length === 0"
                                class="d-flex p-3 align-items-center justify-content-center flex-column">
                                <span class="pt-5 mb-3">Contatto non presente</span>
                                <div class="my__btn" @click="addingContactHandler">
                                    Aggiungi
                                    ai contatti
                                </div>
                            </div>

                            <!-- SE voglio aggiungere un nuovo contatto => apro il popup -->
                            <template v-if="addingContact">
                                <div
                                    class="pop-up bg_light-grey d-flex flex-column justify-content-center align-items-center">

                                    <div class="input-container">
                                        <span>
                                            Nome:
                                        </span>
                                        <input v-model="newName" class="me-xxl-3 me-0" @keyup.enter="addContact"
                                            placeholder="Inserisci il nome...">
                                        <span>
                                            Avatar Link:
                                        </span>
                                        <input v-model="newAvatar" class="mb-5" @keyup.enter="addContact"
                                            placeholder="Inserisci un link...">
                                    </div>

                                    <div class="btn-container align-self-center d-flex">
                                        <div class="me-3 my__btn" @click="addContact">
                                            Salva</div>
                                        <div class="align-self-center my__btn" @click="addingContact=false">
                                            Annulla</div>
                                    </div>
                                </div>
                                <div class="popup__bg" @click="addingContact = false"></div>
                            </template>

                        </div>
                        <!-- CONTACTS END -->
                    </nav>

                </aside>
                <!-- END SIDEBAR -->

                <!-- MAIN START -->
                <main class="col-12 col-md-8 p-0 d-md-flex flex-column" :class="!smartphoneChat ? 'd-none' : 'd-flex'">

                    <!--
                    ------------------------------------------------------------------------
                        MAIN - HEADER: my profile
                    ------------------------------------------------------------------------
                    -->
                    <!-- SE ho un contatto attivo -->
                    <header class="contact bg_grey" v-if="active !== null">
                        <div class="d-flex justify-content-between align-items-center ps-3">
                            <div class="contact__profile d-flex align-items-center">
                                <i class="fa fa-arrow-left me-3 d-md-none pointer" aria-hidden="true"
                                    :class="smartphoneChat ? 'd-block' : 'd-none'" @click="mobileBackHandler"></i>

                                <div class="contacts-card d-flex p-3 align-items-center pointer bg_grey">

                                    <img class="profile bg-white me-3" :src="getAvatar()">

                                    <div class="d-flex flex-column">
                                        <div class="msg_wrapper">
                                            <span class="d-block">
                                                {{ getName() }}
                                            </span>
                                        </div>

                                        <span class="font_small c_dark-grey"
                                            v-if="!writing && active!= null && !isNew()">
                                            Ultimo accesso: {{ getLastAcc() }}
                                        </span>
                                        <span class="font_small c_dark-grey" v-else-if="writing">
                                            {{ write}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="me__buttons c_grey">
                                <i class="fa-solid fa-magnifying-glass pointer"></i>
                                <i class="fa-solid fa-paperclip px-2 pointer"></i>
                                <i class="fa-solid fa-ellipsis-vertical pointer"></i>
                            </div>
                        </div>
                    </header>
                    <!-- HEADER END -->

                    <!--
                    ------------------------------------------------------------------------
                        MAIN - CHAT: chat container
                    ------------------------------------------------------------------------
                    -->
                    <div class="chat-container d-flex flex-column" ref="containerRef"
                        :class="active === null ? '' : 'my_p'">

                        <!-- SE non ho contatti attivi -->
                        <div v-if="active === null"
                            class="def-img d-flex align-items-center justify-content-center flex-column">
                            <img src="img/def.jpg" alt="">
                            <h1 id="main-title">Lamazapp Web Desktop <b id="beta" class="text-uppercase">beta</b></h1>
                            <span class="font_small c_dark-grey">Invia e ricevi messaggi senza mantenere il telefono
                                connesso a Internet.</span>
                        </div>

                        <!-- ALTRIMENTI -->
                        <template v-else>

                            <!-- stampo la chat -->
                            <div class="chat-card" v-for="(message, index) in getMessages" :class="message.status">
                                <span v-if="!showInfo || showMsg!==index" class="msg">
                                    {{ message.message }}
                                </span>
                                <span v-else class="msg">
                                    {{ message.date }}
                                </span>
                                <div class="hour c_dark-grey font_small">
                                    <span>
                                        {{ formatHour(message.date)}}
                                    </span>
                                </div>

                                <div class="layover" @click.stop="changeShow(index)">
                                    <i class="fa-solid fa-angle-down pointer"></i>
                                </div>

                                <template v-if="index === showMsg">
                                    <div class="deleteOpt">
                                        <div class="border-bottom border-1 info" @click.stop="invertInfo(index)">
                                            Info Message</div>
                                        <div class="delete" @click.stop="deleteMsg(index)">Delete message</div>
                                    </div>
                                    <div class="popup__bg" @click.stop="showMsg = -1"></div>
                                </template>

                                <div class="point"></div>
                            </div>
                        </template>


                    </div>
                    <!-- CHAT END -->

                    <!--
                    ------------------------------------------------------------------------
                        MAIN - INPUT: chat input
                    ------------------------------------------------------------------------
                    -->
                    <div class="chat-input" v-if="active !== null">
                        <div class="d-flex align-items-center c_dark-grey">
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text" class="font_small border-0 p-3" placeholder="Scrivi un messaggio"
                                v-model="newMessage" @keyup.enter="addMessage" @focus.prevent>
                            <i v-if="newMessage === ''" class="fa fa-microphone" aria-hidden="true"></i>
                            <i v-else class="fa-solid fa-paper-plane" aria-hidden="true" @click="addMessage"></i>
                        </div>
                    </div>
                    <!-- INPUT END -->

                </main>
                <!-- MAIN END -->

            </div>

        </div>


        <!-- Bootstrap Bundle with Popper -->
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
            integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
            crossorigin='anonymous'></script>

        <!-- FONT AWESOME -->
        <script src='https://kit.fontawesome.com/b0485a66c8.js' crossorigin='anonymous'></script>

        <script src='js/app.js'></script>

    </body>

</html>